<!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
    <body>
   
        <header>
            @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
            @*     <div class="container-fluid"> *@
            @*         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RestaurantApp</a> *@
            @*         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
            @*                 aria-expanded="false" aria-label="Toggle navigation"> *@
            @*             <span class="navbar-toggler-icon"></span> *@
            @*         </button> *@
            @*         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
            @*             <ul class="navbar-nav flex-grow-1"> *@
            @*                 <li class="nav-item"> *@
            @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
            @*                 </li> *@
            @*                 <li class="nav-item"> *@
            @*                     <a class="nav-link text-dark" asp-area="" asp-controller="category" asp-action="Index">categories</a> *@
            @*                 </li> *@
            @*             <li class="nav-item"> *@
            @*                 <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="Index">Items</a> *@
            @*             </li> *@
            @*                 <li class="nav-item"> *@
            @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
            @*                 </li> *@
                        
            @*             </ul> *@
            @*             <partial name="_LoginPartial" /> *@
            @*         </div> *@
            @*     </div> *@
            @* </nav> *@

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-orange ">
            <div class="container">
                <a class="navbar-brand font-weight-bold" href="#">Taste Haven</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="index" asp-area="" asp-controller="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-area="" asp-controller="Menu">Menu</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-action="AboutUs" asp-area="" asp-controller="home">About us</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Contact" asp-area="" asp-controller="home">Contact</a>

                        </li>
                    </ul>
                    <partial name="_LoginPartial" /> 
                </div>
            </div>
        </nav>
        </header>
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    <footer class="bg-dark-orange text-white py-5 mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="font-weight-bold mb-4">About Us</h5>
                    <p>Taste Haven is a premium dining establishment dedicated to providing exceptional culinary experiences with the finest ingredients and impeccable service.</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="font-weight-bold mb-4">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="text-white">Home</a></li>
                        <li class="mb-2"><a href="#" class="text-white">Menu</a></li>
                        <li class="mb-2"><a href="#" class="text-white">Reservations</a></li>
                        <li class="mb-2"><a href="#" class="text-white">Gallery</a></li>
                        <li class="mb-2"><a href="#" class="text-white">About Us</a></li>
                        <li class="mb-2"><a href="#" class="text-white">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="font-weight-bold mb-4">Opening Hours</h5>
                    <p class="mb-1">Monday - Friday: 11:00 AM - 10:00 PM</p>
                    <p>Saturday - Sunday: 10:00 AM - 11:00 PM</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="font-weight-bold mb-4">Contact Us</h5>
                    <p class="mb-2"><i class="fas fa-map-marker-alt mr-2"></i> 123 Dining Street, Food City</p>
                    <p class="mb-2"><i class="fas fa-phone mr-2"></i> (123) 456-7890</p>
                    <p class="mb-4"><i class="fas fa-envelope mr-2"></i> info@tastehaven.com</p>
                    <div>
                        <a href="#" class="text-white mr-3"><i class="fab fa-facebook fa-lg"></i></a>
                        <a href="#" class="text-white mr-3"><i class="fab fa-twitter fa-lg"></i></a>
                        <a href="#" class="text-white mr-3"><i class="fab fa-instagram fa-lg"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center pt-4 mt-4 border-top border-light">
                <p class="mb-0">&copy; 2025 Taste Haven Restaurant. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    
    </html>