@{
	ViewBag.Title = "Categories";
}
@model IEnumerable<Category>
<a asp-action="Create" asp-controller="Category" class="btn btn-danger"> Create</a>
<br />
<hr  />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 d-flex align-items-stretch mb-4">
                <div class="card w-100">
                    <img src="@item.ImagePath" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text flex-grow-1">@item.Description</p>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Category" class="btn btn-primary mt-auto">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
